{require_otp_vsn, "R1[456]"}.
{erl_first_files, ["src/itweep.erl"]}.
{erl_opts, [{i, "deps/ibrowse/src"},
            {src_dirs, ["src", "test"]},
            warn_unused_vars,
            warn_export_all,
            warn_shadow_vars,
            warn_unused_import,
            warn_unused_function,
            warn_bif_clash,
            warn_unused_record,
            warn_deprecated_function,
            warn_obsolete_guard,
            warn_export_vars,
            warn_exported_vars,
            warn_missing_spec,
            warn_untyped_record,
            strict_validation,
            debug_info]}.
{deps_dir, "deps"}.
{deps, [
  {ibrowse, "\.*", {git, "git://github.com/inaka/ibrowse.git",      "master"}},
  {oauth,   "\.*", {git, "git://github.com/inaka/erlang-oauth.git", "master"}}
]}.
{dialyzer_opts,   [{warnings, [unmatched_returns, error_handling, race_conditions, behaviours]}]}.
{edoc_opts,       [{includes, ["include", "deps/ibrowse/src"]}, {report_missing_types, true}]}.
{xref_checks,     [undefined_function_calls]}.
{ct_extra_params, "-no_auto_compile -dir ebin -logdir log/ct"}.
{cover_enabled, true}.
